* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bold-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}


html,
body {
  height: 100%;
  background-color: #edeef0;
}

.App.initial {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.initial-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-image {
  width: 200px;
  height: auto;
  margin-bottom: 40px;
}

/* Состояние после генерации */
.App.fixed {
  justify-content: flex-start;
  height: auto;
}

.generated-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  padding: 10px 20px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.header-center {
  flex: 2;
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header-logo {
  width: 121px;
  height: auto;
  margin-right: 15px;
}

.date-time {
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-field {
  
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.confirm-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3663aaff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirm-button:hover {
  background-color: #3663aaff;
}

.generated-results-container {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.generated-results {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.generated-item {
  width: 300%; /* Сделайте контейнер фиксированной ширины или в процентах */
  max-width: 1100px; /* Ограничьте максимальную ширину контейнера */
  overflow-wrap: break-word; /* Разбивает длинные слова, чтобы они не выходили за границы */
  word-wrap: break-word; /* Для старых браузеров */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  height: 750px;
}

.generated-content-block {
  width: 100%;
  height: 1000px;
  padding: 20px;
  margin-bottom: -100px;
  border-radius: 20px;
  background-color: #edeef0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.generated-description-block {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  width: 100%;
  height: 235px;
  padding: 20px;
  border-radius: 20px;
  background-color: #edeef0;
}

.generated-description {
  font-size: 16px;
  text-align: center;
  max-width: 100%;
  /* Можно установить ограничение по ширине, если нужно */
}



.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-input-popup {
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(90, 90, 90, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3663aaff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}